
        <div class="search-div row justify-content-center">
            <div class="col-md-6">
                   <%# <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-control">
                            <option value="italian">Italian</option>
                            <option value="mexican">Mexican</option>
                            <option value="indian">Indian</option>
                        </select>
                    </div>





                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div> %>


              <div class="action-title">
                <h3>Find your favorite restaurant get authentic</h3>
              </div>
                  <div class="search-box">
                    <input type="text" class="search-input" placeholder="Start Looking For Something!">
                    <a class="search-btn" href="#">
                    Get authentic
                      <!-- Seach Icon -->
                      <i class="fas fa-search"></i>
                    </a>
                  </div>


            </div>
        </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
