<div class="container-xxl	">
<h3 class="section-header">Top
<strong>taster</strong></h3>
<div class="flex-wrap">

  <% @top_users.take(3).each do |user| %>

    <div class="profile">

      <div class="profile-img">
        <img src="<%= asset_path('taster1.png') %>" alt="">
      </div>
      <div class="profile-info">

        <span class="taster-name"><%= user.username %> </span>
        <span class="taster-about"><%= user.description %> </span>
        <div class="followbtn" onclick="toggleFollow(this)">
            <div class="taster-btn">
                <span class="v57_400">Follow</span>
            </div>
          </div>
      </div>
    </div>

  <% end %>

</div>

</div>

<script>
function toggleFollow(button) {
    var buttonText = button.querySelector(".v57_400");

    if (buttonText.innerHTML === "Follow") {
        buttonText.innerHTML = "Unfollow";
        buttonText.style.color = "#8c800d"; // Change text color to black
        buttonText.style.border = " 1px solid #afa011"; // Add border
        buttonText.style.background= "#afa01100"
    } else {
        buttonText.innerHTML = "Follow";
        // buttonText.style.color = ""; // Reset text color
        // buttonText.style.border = ""; // Reset border
        // buttonText.style.padding = ""; // Reset padding
          buttonText.style.padding = "8px 16px";
        buttonText.style.backgroundColor = "#afa011";
        buttonText.style.color = "#fff";
        buttonText.style.border = "none";
        buttonText.style.borderRadius = "20px";
        buttonText.style.cursor = "pointer";
    }
}
</script>
