<div class="container">
<h3 class="section-header"><strong>Trending</strong> this week</h3>
<div class="flex-wrap">


<div class="profile">
  <div class="profile-img">
    <img src="<%= asset_path('taster1.png') %>" alt="">
  </div>
  <div class="profile-info">
    <span class="taster-name">Marcus chicky</span>
    <span class="taster-about">Lorem ipsum dolor sit amet, consectetur elit.</span>
    <div class="taster-btn">
      <span class="v57_400">Follow</span>
    </div>
  </div>
</div>

<div class="profile">
  <div class="profile-img">
    <img src="<%= asset_path('taster1.png') %>" alt="">
  </div>
  <div class="profile-info">
    <span class="taster-name">Tarik Hün</span>
    <span class="taster-about">Lorem ipsum dolor sit amet, consectetur elit.</span>
    <div class="taster-btn">
      <span class="v57_400">Follow</span>
    </div>
  </div>
</div>

<div class="profile">
  <div class="profile-img">
  <%# asset_path('taster1.png') dd %>
    <img src="https://ca.slack-edge.com/T02NE0241-U06DFAFSN3S-d30465e48bd3-512" alt="">
  </div>
  <div class="profile-info">
    <span class="taster-name">Sidney poulet</span>
    <span class="taster-about">Lorem ipsum dolor sit amet, consectetur elit.</span>
    <div class="taster-btn">
      <span class="v57_400">Follow</span>
    </div>
  </div>
</div>

</div>

</div>
