<% @restaurant.reviews.each do |review| %>
<div class="profile-taster">
  <div class="profile-img-taster">
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1705658652/vqsr5vfilkemiywrdect.jpg" alt="">
  </div>
  <div class="profile-info-taster">
      <div class="username-desc">
        <span class="taster-name-taster"><%= review.user.username %> </span>
        <span class="taster-about-taster"><%= review.user.description %> </span>
      </div>

    <div class="followbtn" onclick="toggleFollow(this)">
        <div class="taster-btn">
            <span class="v57_400">Follow</span>
        </div>
      </div>
  </div>
</div>

<% end %>
