<div class="container-xxl"	 data-controller="follow-button">
<h3 class="section-header">Top
<strong>taster</strong></h3>
<div class="flex-wrap">

  <% @top_users.take(3).each do |user| %>

    <div class="profile">

      <div class="profile-img">
        <img src="<%= asset_path('taster1.png') %>" alt="">
      </div>
      <div class="profile-info">

        <span class="taster-name"><%= user.username %> </span>
        <span class="taster-about"><%= user.description %> </span>
        <div class="followbtn" data-action="click->follow-button#toggleFollow">
            <div class="taster-btn" data-taster="<%= user.id %>" >
                <span class="v57_400" data-follow-button-target='button' >Follow</span>
            </div>
          </div>
      </div>
    </div>

  <% end %>

</div>

</div>
