<div class="profile-taster">
  <div class="profile-img-taster">
    <img src="<%= asset_path('taster1.png') %>" alt="">
  </div>
  <div class="profile-info-taster">
      <div class="username-desc">
        <span class="taster-name-taster">name </span>
        <span class="taster-about-taster">description </span>
      </div>

    <div class="followbtn" onclick="toggleFollow(this)">
        <div class="taster-btn">
            <span class="v57_400">Follow</span>
        </div>
      </div>
  </div>
</div>
