
<div class="big-container-xxl	">
  <div class="left-container-xxl	">
    <div class="avatar-container-xxl	">
      <p>imag</p>
    </div>
    <p>"profile details"</p>
  </div>
  <div class="right-container-xxl	">
      <div class="top-right-container-xxl	">
          <!-- Content for the top right container-xxl	 goes here -->
      </div>
      <div class="bottom-right-container-xxl	">
          <div class="bottom-right-subcontainer-xxl	-1">
              <!-- Content for the bottom right subcontainer-xxl	 1 goes here -->
          </div>
          <div class="bottom-right-subcontainer-xxl	-2">
              <!-- Content for the bottom right subcontainer-xxl	 2 goes here -->
          </div>
      </div>
  </div>
</div>
