<img src="<%= asset_path('chicken.jpeg') %>" class="chicken" alt="banner">

<div class="big-container">
  <div class="left-container">
    <div class="avatar-container">
        <img class="custom-image" src="<%= asset_path('widget.png') %>">
      <div class="card">
          <h2>About</h2>
          <p>Lorem ipsum</p>
      </div>
      <div class="card">
          <h2>Nationality</h2>
          <p>Italian</p>
      </div>

      <div class="card">
          <h2>Reviews</h2>
          <p>120</p>
      </div>
    </div>
  </div>

  <div class="right-container">
      <div class="top-right-container">
          <!-- Content for the top right container goes here -->
      </div>
      <div class="bottom-right-container">
          <div class="bottom-right-subcontainer-1">
              <!-- Content for the bottom right subcontainer 1 goes here -->
          </div>
          <div class="bottom-right-subcontainer-2">
              <!-- Content for the bottom right subcontainer 2 goes here -->
          </div>
      </div>
  </div>

</div>
