<img src="<%= asset_path('chicken.jpeg') %>" class="chicken" alt="banner">

<div class="big-container">
  <div class="left-container">
    <div class="avatar-container">
        <img class="custom-image" src="<%= asset_path('widget.png') %>">
      <div class="card">
        <h1>City Widget</h1>
      </div>
      <div class="card">
          <h2>About:</h2>
          <p>Lorem ipsum</p>
      </div>

      <div class="card">
          <h2>Nationality:</h2>
          <p>Italian</p>
      </div>

      <div class="card">
          <h2>Reviews:</h2>
          <p>120</p>
      </div>
    </div>
  </div>

  <div class="right-container">
      <div class="top-right-container">
          <h2>Widget's Favourites</h2>
      </div>
      <%= render "shared/reviewsProfile" %>
  </div>
</div>
