.chicken {
  width: 100%;
  height: 200px;
}

.big-container {
  display: flex;
  border: 2px solid red;
}

.left-container {
  width: 30%;
  background: rgba(248, 244, 244, 0.6);
  backdrop-filter: blur(21px);
  border-radius: 24px;
  margin: 5%;
}

.avatar-container {
  align-items: center;
  width: 300px;
  height: 200px;
  background: lightgray;
  border-radius: 24px;
}

.card h2 {
  font-weight: bold;
}

.card p {
  font-size: 14px;
  color: #333;
}

.custom-image {
  width: 300px;
  height: 200px;
  border-radius: 24px;
  }


.right-container {
  width: 60%;
  backdrop-filter: blur(21px);
  margin: 5%;
  }

.top-right-container {
    height: 172px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: rgba(248, 244, 244, 0.6);
    backdrop-filter: blur(21px);
    margin: 5%;
}

.bottom-right-container {
  display: flex;
  height: 700px;
  background: #FFF;
}

.bottom-right-subcontainer-1 {
  display: flex;
  width: 50%;
  height: 656px;
  padding: 24px 27px 24px 24px;
  border-radius: 24px;
  background: rgba(248, 244, 244, 0.6);
  backdrop-filter: blur(21px);
  margin: 5%;
}

.bottom-right-subcontainer-2 {
  display: flex;
  width: 50%;
  height: 656px;
  padding: 24px 27px 24px 24px;
  border-radius: 24px;
  background: rgba(248, 244, 244, 0.6);
  backdrop-filter: blur(21px);
  margin: 5%;
}

// .container1 {
//   width: 400px;
//   height: 580px;
//   flex-shrink: 0;
//   fill: #F7F7F7;
//   filter: drop-shadow(-4px 10px 13.8px rgba(0, 0, 0, 0.08));
// }

// .container2 {
//   width: 1029px;
//   height: 396px;
//   flex-shrink: 0;
//   border-radius: 25px;
//   background: #F7F7F7;
// }

// .container3 {
//   display: flex;
//   width: 497px;
//   height: 656px;
//   padding: 24px 27px 24px 24px;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 24px;
//   flex-shrink: 0;
//   border-radius: 24px;
//   background: rgba(248, 244, 244, 0.60);
//   /* Glass Card */
//   backdrop-filter: blur(21px);
// }

// .container4 {
//   display: flex;
//   width: 497px;
//   height: 656px;
//   padding: 24px 27px 24px 24px;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 24px;
//   flex-shrink: 0;
//   border-radius: 24px;
//   background: rgba(248, 244, 244, 0.60);
//   /* Glass Card */
//   backdrop-filter: blur(21px);
// }
