.profile-taster {
    display: flex;
      /* align-items: center; */
      width: 100%;
      justify-content: center;
      /* margin: 18px; */
      border-bottom: 1px solid #fff2f2;
      padding: 10px;
}

.profile-img {
  margin-right: 20px;
  /* Adjust as needed */
}

.profile-img-taster img {
    height: 72px;
  /* Adjust as needed */
  border-radius: 50%;
  /* Makes the image round */
}

.profile-info-taster {
display: flex;
  flex-direction: row;
  margin-left: 12px;
  color: #333;
  column-gap: 1;
  flex-shrink: 12;
  width: 148%;
  justify-content: space-between;
}

.taster-name-taster {
  font-size: 1.2rem;
  /* Adjust as needed */
  font-weight: bold;
}

.taster-about-taster {
    font-size: 15px;
      color: #555;
      overflow: hidden;
      max-height: 49px;
}

.taster-btn-taster {
  margin-top: 10px;
  /* Adjust as needed */
}

.v57_400 {
    padding: 8px 16px;
      background-color: #afa011;
      color: #fff;
      border: none;
      border-radius: 15px;
      border-radius: 20px;
      cursor: pointer;
}

/* Hover effect for the button */
.v57_400:hover {
  background-color: #24b300;
  /* Adjust the hover background color as needed */
}
.username-desc{
      display: flex;
        flex-direction: column;
}
