.flex-wrap {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.Popular-restaurant-info {
  width: 242.09px;
    height: 375px;
        background: #F8F4F4;
    border: 0.5px solid #efefef;
    // box-shadow: 9px 28px 26px -37px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
    margin: 0 0px;
}

.Popular-restaurant-img-link {
    width: 100%;
    height: 174px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}

.Popular-restaurant-title a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #525252;
  text-decoration: none;
  font-weight: bold;
}

.Popular-restaurant-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Popular-rateScorVar {
  margin-left: 5px;
  color: #ff7f00;
  font-size: 12.5px;
}

.Popular-rating-score {
  object-fit: none;
  object-position: left;
  height: 13.12px;
  position: absolute;
  margin: 0;
  padding: 0;
}

.Popular-restaurant-OpenNow {
  flex-direction: row;
  display: flex;
  align-items: center;
  color: #828282;
  font-size: 12px;
}

.Popular-restaurant-OpenNow p {
  margin: 0;
}
.restaurant-category-tag {
  padding: 13px 36px;
  width: 75px;
  height: 15px;
      background: #eb9898;
  border-radius: 12px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 12px;
  color: #ffffff;
}
.Popular-restaurant-description p {
  width: 192px;
  height: 71px;
  color: rgb(189, 189, 189);
  font-style: normal;
  font-weight: normal;
  max-height: 65px;
  font-size: 13px;
  margin: 0px;
  overflow: hidden;
}

.Popular-restaurant-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Popular-restaurant-rating-scoreVar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Popular-restaurant-rating {
  width: 74.04px;
  position: relative;
  height: 13.12px;
  background-size: cover;
  background-image: url(/app/assets/images/ratingbackground.svg);
  margin: 6px 0px 8px;
  background-position: center center;
  padding: 0px;
}
.Popular-restaurant-text-info {
display: flex;
  flex-direction: column;
  width: 192px;
  justify-content: space-evenly;
  height: 100%;
}

.section-header{
  color: #333;
}


// cards carousel
.carousel-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  /* Add a transition for smooth movement */
}

.restaurant-card {
  flex: 0 0 calc(20% - 20px);
  /* Adjust the width based on your layout */
      margin: 8px;
  /* Add any other styles you need for your restaurant cards */
}

.prev,
.next {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
